/* varibles */

:root {
    --violet-light-1: #837D87;
    --violet-light-2: #aa99bd;
    --violet-dark-1: #2D2640;
    --violet-dark-2: #2B272F;
    --blue-gray: #95A9C6;
    --white-1: #FFF;
    --white-2: #FAFAFA;
    --black: #2a2a2a;
}

/* / varibles */

/* resets */

::selection {
    background-color: var(--blue-gray);
    color: var(--violet-dark-2);
}

html {
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white-1);
    color: var(--violet-dark-2);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

/* / resets */

/* reusable */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.link {
    padding-bottom: 0.25rem;
    position: relative;
}

.link:focus {
    outline: none;
}

.link::after {
    content: '';
    background-color: var(--violet-dark-2);
    position: absolute;
        left: 0;
        bottom: 0;
    width: 0;
    height: 0.125rem;
    transition: all 0.3s ease-in-out;
}

.link:hover::after,
.link:focus::after {
    width: 100%;
}

.btn {
    background-color: transparent;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.btn--purple {
    border: solid 2px var(--violet-dark-2);
}

.btn--purple:hover,
.btn--purple:focus {
    background-color: var(--violet-dark-2);
    color: var(--white-1);
    outline: none;
}

.btn--white {
    border: solid 2px var(--white-1);
    color: var(--white-1);
}

.btn--white:hover,
.btn--white:focus {
    background-color: var(--white-1);
    color: var(--violet-dark-2);
    outline: none;
}

.divider {
    display: block;
    margin-bottom: 3rem;
    max-width: 7.5rem;
    height: 0.125rem;
}

.divider--white {
    background-color: var(--white-1);
}

.divider--gray {
    background-color: var(--violet-light-1);
}

.open {
    top: 100% !important;
}

/* / reusable */

/*  desktop navigation */

/* mobile navigation */

.hambuguer__icon,
.mobile__nav {
    display: none;
}

/* mobile navigation */

.header {
    background-color: var(--white-1);
    padding: 1.5rem 0;
    position: relative;
    z-index: 2;
}

.header__row {
    display: flex;
        align-items: center;
        justify-content: space-between;
}

.header__list {
    display: flex;
        align-items: center;
        justify-content: space-between;
}

.header__item:not(:last-child) {
    margin-right: 2rem;
    text-transform: uppercase;
}

.header__link {
    font-size: 0.875rem;
    color: var(--violet-dark-2);
}

/* /  desktop navigation */

/* mobile navigation */

.hambuguer__icon {
        padding: 0;
        border: none;
    }

    .mobile__nav {
    position: absolute;
        left: 0;
        top: calc(-100% - 77px);
    background-color: var(--white-1);
    padding: 1.5rem;
    width: 100%;
    z-index: -2;
    transition: all 0.3s ease-in-out;
}

/* mobile navigation */

/* hero */

.hero {
    background-image: linear-gradient(
        to bottom,
        var(--violet-dark-2) 85%,
        var(--white-1) 15% );
    padding-top: 5rem;
    position: relative;
    z-index: 1;
}

.hero__row {
    display: flex;
        align-items: flex-start;
}

.hero__info-box {
    color: var(--white-1);
    margin-right: 5rem;
}

.hero__header {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    max-width: 28.125rem;
}

.hero__info {
    max-width: 34.375rem;
    margin-bottom: 1.5rem;
}

.hero__img {
    box-shadow: 0 1rem 2rem rgba(43, 39, 47, 0.1);
    max-width: 25rem;
    transition: all 0.3s ease-in-out;
}

.hero__img:hover {
    transform: rotate(5deg);
}

.hero__details {
    pointer-events: none;
    position: absolute;
}

.hero__details--left {
    bottom: -100px;
    left: 0;
    max-width: 7.5rem;
}

.hero__details--right {
    top: -70px;
    right: 0;
    max-width: 21.875rem;
}

/* / hero */

/* different */

.different {
    padding: 5rem 0;
}

.different__header {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.different__benefits {
    display: flex;      
        align-items: flex-start;
        justify-content: space-between;
}

.different__benefit:focus {
    outline: none;
}

.different__benefit:not(:last-child) {
    margin-right: 1.5rem;
}

.different__icon {
    margin-bottom: 1.5rem;
}

.different__icon circle {
    transition: all 0.3s ease-in-out;
}

.different__benefit:hover .different__icon circle,
.different__benefit:focus .different__icon circle {
    fill: var(--violet-dark-2);
}

.different__benefit-header {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

/* / different */

/* banner */

.banner {
    padding: 5rem 0;
}

.banner__row {
    background-color: var(--violet-dark-2);
    backface-visibility: hidden;
    display: flex;
        align-items: center;
        justify-content: space-between;
    overflow: hidden;
    padding: 5rem;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.banner__row:hover {
    transform: scale(1.1);
}

.banner__header {
    color: var(--white-1);
    font-size: 4rem;
    line-height: 1;
    max-width: 35.9375rem;
}

.banner .btn {
    z-index: 1;
}

.banner__img {
    pointer-events: none;
    position: absolute;
        top: 0;
        right: 0;
    max-width: 100%;
    min-height: 100%;
}

/* / banner */

/* footer */

.footer {
    background-color: var(--white-2);
    padding: 5rem 0 2rem;
    position: relative;
}

.footer .container {
    position: relative;
    z-index: 1;
}

.footer__row:first-child {
    padding-bottom: 2rem;
    border-bottom: solid 0.125rem var(--violet-light-1);
}

.footer__row {
    display: flex;
        align-items: flex-start;
        justify-content: space-between;
    margin-bottom: 3rem;
}

.foooter__social-list {
    display: flex;
        align-items: center;
        justify-content: space-around;
}

.footer__social-item:not(:last-child) {
    margin-right: 1rem;
}

.footer__social-link:focus {
    outline: none;
}

.footer__social-icon path {
    transition: all 0.3s ease-in-out;
}

.footer__social-icon:hover path,
.footer__social-link:focus .footer__social-icon path {
    fill: var(--violet-dark-2);
}

.footer__box {
    text-transform: uppercase;
}

.footer__header {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.footer__list {
    transition: all 0.3s ease-in-out;
}

.footer__list:hover .footer__item {
    opacity: 0.5;
}

.footer__item {
    transition: all 0.3s ease-in-out;
}

.footer__list:hover .footer__item:hover {
    opacity: 1;
}

.footer__item:not(:last-child) {
    margin-bottom: 1rem;
}

.footer__link {
    font-size: 0.875rem;
}

.footer__credits {
    text-align: center;
}

.footer__credits a,
.footer__credits span {
    font-weight: 700;
}

.footer__detail {
    pointer-events: 0;
    position: absolute;
        top: 0;
        left: 0;
}

/* / footer */

/* media queries */

@media only screen and (min-width: 90em) {

    html {
        font-size: 18px;
    }

    .hero__img {
        max-width: 100%;
    }

    .hero__details--left {
        bottom: -185px;
        max-width: 100%;
    }
    
    .hero__details--right {
        max-width: 100%;
    }

}

@media only screen and (max-width: 74.25em) {
    
    .container {
        padding: 0 1.5rem;
    }

}

@media only screen and (max-width: 61.875em) {

    .hero {
        padding-bottom: 5rem;
        background-image: linear-gradient(
            to bottom,
            var(--violet-dark-2) 80%,
            var(--white-1) 20% );
    }

    .hero__info-box {
        margin-right: 1.5rem;
    }
    
    .hero__header,
    .different__header,
    .banner__header {
        font-size: 2.5rem;
    }

    .hero__img {
        max-width: 20rem;
    }

    .different {
        padding: 0 0 3rem 0;
    }
    
    .different__benefit-header {
        font-size: 1.25rem;
    }

    .banner__row {
        padding: 5rem 2rem;
    }

    .banner__header {
            max-width: 8.75em;
    }

}

@media only screen and (max-width: 48em) {

    html {
        font-size: 15px;
    }

    .divider {
        margin: 0 auto 1.5rem;
    }

    .header__nav {
        display: none;
    }

    .hambuguer__icon {
        display: initial;
        padding: 0;
        border: none;
    }

    .mobile__nav {
        display: initial;
        position: absolute;
            left: 0;
            top: calc(-100% - 77px);
        background-color: var(--white-1);
        padding: 1.5rem;
        width: 100%;
        z-index: -2;
        transition: all 0.3s ease-in-out;
    }

    .mobile__item {
        text-align: center;
    }

    .mobile__item:not(:last-child) {
        margin-bottom: 1.5rem;
    }
    
    .different__header,
    .banner__header {
        text-align: center;
    }

    .hero {
        background-image: linear-gradient(
            to bottom,
            var(--violet-dark-2) 100%,
            var(--white-1) 0 );
        padding-bottom: 5rem;
    }

    .hero__row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .hero__info-box {
        margin-right: 0;
        text-align: center;
        z-index: 1;
    }

    .hero__img {
        display: none;
    }

    .hero__header {
        margin: 0 auto 1.5rem;
    }

    .hero__details--left {
        bottom: -120px; 
        left: 0;
        max-width: 5.6rem;
    }

    .hero__details--right {
        top: -115px;
        right: -40px;
        max-width: 15rem;
    }

    .different {
        padding-top: 3rem;
    }

    .different__benefits {
        flex-direction: column;
        align-items: center;
    }    

    .different__benefit {
        max-width: 28.125rem;
        text-align: center;
    }

    .different__benefit:not(:last-child) {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .banner__row {
        flex-direction: column;
        padding: 3rem 1.5rem;
    }
    
    .banner__row:hover {
        transform: initial;
    }

    .banner__header {
        margin-bottom: 2rem;
        position: relative;
        z-index: 1;
    }

    .footer__row {
        flex-direction: column;
        align-items: center;
    }

    .footer__logo {
        margin-bottom: 2rem;
    }

    .footer__social-item:not(:last-child) {
        margin-right: 1.5rem;
    }

    .footer__box:not(:last-child) {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .footer__box {
        text-align: center;
    }

}

@media ( hover : none ) {

    .btn--purple {
        background-color: var(--violet-dark-2);
        color: var(--white-1);
        outline: none;
    }

    .btn--white {
        background-color: var(--white-1);
        color: var(--violet-dark-2);
        outline: none;
    }

    .footer__list:hover .footer__item {
        opacity: 1;
    }

}

/* / media queries */