/* varibles */

:root {
    --violet-light: #837D87;
    --violet-dark-1: #2D2640;
    --violet-dark-2: #2B272F;
    --blue-gray: #95A9C6;
    --white: #FAFAFA;
    --black: #2a2a2a;
}

/* / varibles */